* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box; /*Serve para incluir a borda no cálculo do tamanho*/
}
html, body {
    width: 98vw;
    height: 98vh;
}

body {
    background-color: black;
    background: url('../imagens/back-phone.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.534);
    width: 78vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}

h1#tel {display: block;}
h1#tab {display: none;}
h1#imp {display: none;}
h1#comp {display: none;}
h1#tele {display: none;}
